# Node modules
/node_modules/

# Logs
logs
*.log
npm-debug.log*

# Operating System files
.DS_Store
Thumbs.db

# Dependency directories
bower_components/

# Build output directories
dist/
build/
tmp/
temp/